<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content, modals, js)">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">La Jama</title>
    <th:block th:replace="~{links :: headLinks}"></th:block>
    <link th:href="@{/css/layout-gestion.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div th:replace="~{sidebar :: sidebar(activeUri=${activeUri})}"></div>

    <main id="main-content" class="main-content">
        <div th:replace="~{sidebar :: logistica_header(${titleHeader ?: title})}"></div>

        <div class="container-fluid p-4">
            <th:block th:replace="${content}"></th:block>
        </div>
    </main>
</div>

<th:block th:replace="${modals}"></th:block>

<div id="notification-container" class="toast-container position-fixed top-0 end-0 p-3"></div>

<th:block th:replace="~{links :: scriptLinksPlus}"></th:block>

<script th:src="@{/js/utiles-comunes.js}"></script>

<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script th:src="@{{path}(path=${js})}"></script>
</body>
</html>